
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bienvenue  </title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/business-casual.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">

</head>

<body>

<div th:replace="fragments :: welcome">...</div>

<div th:replace="fragments :: menuByRole">...</div>




<div class="container">

    <div th:replace="fragments :: photo">...</div>

   <!-- <div id="sectionEvents"  class="sectionManagement " >
        <br>
        <button type="button"  id="addEventBtn" data-title="addEventDiv" data-toggle="modal"
                data-target="#addEventDiv" class="btn btn-primary " style="  margin-left: 50px;"> Ajouter un évenement </button>



        <br>
        <br>

        <div class="row row-striped">
            <div class="col-2 text-right">
                <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
                <h2>OCT</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase"><strong>Compétition</strong></h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Mardi</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM </li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
                </ul>
                <p> test description.</p>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
                <h2>OCT</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase"><strong>Inscriptions</strong></h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Vendredi </li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM </li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Salle 4019</li>
                </ul>
                <p> test description </p>
            </div>
        </div>
    </div>

    <div id="sectionAdherents"  style="display: none" class="sectionManagement container" >
        adherents
    </div>

    <div id="sectionChevaux"  style="display: none" class="sectionManagement container" >
        chevaux
    </div>

    <div id="sectionServices" style="display: none" class="sectionManagement container" >
        services
    </div>

-->
</div>


<!-- Modal add event -->
<div class="modal fade" id="addEventDiv" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-remove"
                                                                                                  aria-hidden="true"></span>
                </button>
                <h4 class="modal-title custom_align" id="HeadingEvent">Ajouter un évenement </h4>
            </div>

            <form th:action="@{/secretary/addEvent}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" name="eventName" required type="text"
                               placeholder="Nom de l'evenement">
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="eventDate" required type="date"
                               placeholder="Date ">
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="eventTime" required type="time"
                               placeholder="Heure début ">
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="eventLocation" required type="text"
                               placeholder="Lieu ">
                    </div>
                </div>

                <div class="modal-footer ">
                    <button type="submit" class="btn  btn-lg" style="width: 100%;"><span
                            class="fa fa-check"></span> Ajouter
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>






<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">Copyright &copy; LEYE Architectures d'entreprises, ETE 2020</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>



    function adherentsClick() {
        // get the clock
        var item = document.getElementById('sectionAdherents');
        document.getElementById("adherents").classList.add("active");



        document.getElementById("services").classList.remove("active");
        document.getElementById("chevaux").classList.remove("active");
        document.getElementById("events").classList.remove("active");


        // get the current value of the clock's display property
        document.getElementById('sectionServices').style.display = "none";
        document.getElementById('sectionChevaux').style.display = "none";
        document.getElementById('sectionEvents').style.display = "none";
        item.style.display = "block";
            return false;
    }

    function chevauxClick() {
        // get the clock
        var item = document.getElementById('sectionChevaux');
        document.getElementById("chevaux").classList.add("active");

        var item2 = document.getElementById("chevaux");
        document.getElementById("adherents").classList.remove("active");
        document.getElementById("services").classList.remove("active");
        document.getElementById("events").classList.remove("active");

        // get the current value of the clock's display property
        document.getElementById('sectionServices').style.display = "none";
        document.getElementById('sectionAdherents').style.display = "none";
        document.getElementById('sectionEvents').style.display = "none";
        item.style.display = "block";
        return false;
    }

    function servicesClick() {
        // get the clock
        var item = document.getElementById('sectionServices');

        document.getElementById("services").classList.add("active");


        var item2 = document.getElementById("services");
        document.getElementById("adherents").classList.remove("active");
        document.getElementById("chevaux").classList.remove("active");
        document.getElementById("events").classList.remove("active");
      //  item2.siblings().removeClass("active");

        // get the current value of the clock's display property
        document.getElementById('sectionChevaux').style.display = "none";
        document.getElementById('sectionAdherents').style.display = "none";
        document.getElementById('sectionEvents').style.display = "none";
        item.style.display = "block";
        return false;
    }

    function eventsClick() {
        // get the clock
        var item = document.getElementById('sectionEvents');
        document.getElementById("events").classList.add("active");

           document.getElementById("adherents").classList.remove("active");
        document.getElementById("chevaux").classList.remove("active");
        document.getElementById("services").classList.remove("active");


        // get the current value of the clock's display property
        document.getElementById('sectionServices').style.display = "none";
        document.getElementById('sectionAdherents').style.display = "none";
        document.getElementById('sectionChevaux').style.display = "none";
        item.style.display = "block";
        return false;
    }

    function addEvent(){

        $('#addEventDiv').toggle();
    }

    /*  $(document).on('click', '#adherents', function(e){
          $("#sectionAdherents").show();
          $("#sectionChevaux").hide();
          $("#sectionEvents").hide();
          $("#sectionServices").hide();

          $(this).addClass("active");
          $(this).siblings().removeClass("active");
      }
      $(document).ready(function() {
          $("#adherents").on("click", function () {
              $("#sectionAdherents").show();
              $("#sectionChevaux").hide();
              $("#sectionEvents").hide();
              $("#sectionServices").hide();

              $(this).addClass("active");
              $(this).siblings().removeClass("active");
          })

          $("#events").on("click", function () {
              $("#sectionAdherents").hide();
              $("#sectionChevaux").hide();
              $("#sectionEvents").show();
              $("#sectionServices").hide();

              $(this).addClass("active");
              $(this).siblings().removeClass("active");
          })
      })

      function make_menuitem_active() {
          $("#sectionAdherents").hide();
          $("#sectionChevaux").hide();
          $("#sectionEvents").show();
          $("#sectionServices").hide();





          $("#chevaux").on("click", function () {
              $("#sectionAdherents").hide();
              $("#sectionChevaux").show();
              $("#sectionEvents").hide();
              $("#sectionServices").hide();

              $(this).addClass("active");
              $(this).siblings().removeClass("active");
          })

          $("#services").on("click", function () {
              $("#sectionAdherents").hide();
              $("#sectionChevaux").hide();
              $("#sectionEvents").hide();
              $("#sectionServices").show();

              $(this).addClass("active");
              $(this).siblings().removeClass("active");
          })
      }*/
</script>



</body>

</html>

